# Introduction to Time Series with Pandas

DateTime 인덱스를 갖은 데이터를 pandas 로 처리하는 방법을 학습합니다.

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
# 날짜 인자들
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
# 2017년 1월 2일
my_date = datetime(my_year,my_month,my_day)

In [5]:
# 디폴트로 0시 0분
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [6]:
# January 2nd, 2017 at 13:30:15
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [7]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

이런식으로 datetime 객체의 특정 부분을 읽어올 수 있습니다.

In [8]:
my_date.day

2

In [9]:
my_date_time.hour

13

### Pandas with Datetime Index

실제 업무상에 시계열 데이터를 DataFrame 으로 처리할 일이 많습니다. pandas 는 시계열 데이터를 다루기 위한 편리하고 방법들을 다양하게 지원합니다.

In [13]:
# datetime 객체의 list 생성 예시
first_two = [datetime(2016, 1, 1), datetime(2016, 1, 2)]
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [14]:
# 인덱스로 전환
dt_ind = pd.DatetimeIndex(first_two)
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [29]:
# 랜덤 데이터 생성하고 인덱스와 함께 DataFrame 만들기
data = np.random.randn(2,2)
print(data)
cols = ['A','B']

[[-1.58270607  0.47766839]
 [ 0.34171008  0.5889566 ]]

In [28]:
df = pd.DataFrame(data,dt_ind,cols)

In [30]:
df

                   A         B
2016-01-01  0.165224 -0.767629
2016-01-02 -0.482305  0.307934

In [31]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [34]:
# Latest Date Location
df.index.argmax()

1

In [35]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [37]:
# Earliest Date Index Location
df.index.argmin()

0

In [38]:
df.index.min()

Timestamp('2016-01-01 00:00:00')